<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Google Sign-In URL scheme -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.google</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.251979218003-ai06d6avgqmr5t2catjfh5q379gest38</string>
            </array>
        </dict>
    </array>

    <!-- Required for Firebase -->
    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- Explicitly set GIDClientID for Google Sign-In -->
    <key>GIDClientID</key>
    <string>251979218003-ai06d6avgqmr5t2catjfh5q379gest38.apps.googleusercontent.com</string>
</dict>
</plist>

